<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2 class = "titulo">Un título con un header H2</h2>
  <p class = "texto1">Un párrafo con tamaño de fuente 16 pixeles o 1rem,  color #0093FF fuente Arial</p>
  <p class = "texto2">Otro párrafo con tamaño de fuente 12 pixeles, color #c500ff y fuente Nerko One, 
    importado desde el CDN de google fonts.</p>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

  <ul class = "lista">
    <li class = "link1"><a href="https://chatgpt.com/">link para el chatgpt</a></li>  
    <li><a href="https://github.com/">link de git hub</a></li>  
    <li><a href="https://www.youtube.com/?app=desktop&hl=es">yt</a></li>  
  </ul>

  <table class = "tabla">
    <tr class = "encabezado">
      <th>Productos</th>
      <th>Existensias</th>
      <th>valor</th>
    </tr>
    <tr>
      <th>Iphone</th>
      <th>20</th>
      <th>$ 2.000.000</th>
    </tr>
    <tr class = "filaCentral">
      <th>mouse</th>
      <th>100</th>
      <th>$ 50.000</th>
    </tr>
    <tr>
      <th>PC Gamer</th>
      <th>2</th>
      <th>$ 3.000.000</th>
    </tr>

  </table><br>

  
  
  

</body>
</html>

<div class = "divGeneral">
  <div class = "div2">
    <div class = "div2_1">logo</div>
    <p class = "textoDiv2_2">header</p>
    <div class = "div2_3">buscador</div>

  </div>




  <p class = "contenedor">contenedor</p>
  <div class = "divCentral">
    <div class = "div4">Side-bar</div>
    <div class = "div3">content</div>
  </div>
  
  <div class = "div5">.      Footer
    <div>Foter-1</div>
    <div>Foter-2</div>
    <div>Foter-3</div>
  </div>
</div>

<router-outlet />
